body {
  font-family: Roboto,sans-serif;
}
a {
  color: #0067DB;
  text-decoration: none;
}
.property_card {
  width: 613px;
  height: 523px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.15);
  /*background: url('../images/rental_src.png');*/
}
.image {
  position: relative;
  margin: 0;
  width: 613px;
  height: 344px;
}
.control {
  position: absolute;
  top: 50%;
  margin-top: -12px;
}
.control.next {
  width: 13px;
  height: 24px;
  right: 24px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' %3E%3Cpath id='top' fill='%23FFFFFF' d='M12.674,11.12c0.229,0.233 0.689,1.081 -0.004,1.758c-0.694,0.676 -1.509,0.23 -1.738,-0.003c-2.262,-2.3 -8.325,-8.465 -10.586,-10.765c-0.23,-0.233 -0.65,-1.099 0.005,-1.759c0.656,-0.66 1.507,-0.229 1.737,0.004c2.261,2.3 8.324,8.465 10.586,10.765Z' /%3E%3Cpath id='bottom' fill='%23FFFFFF' d='M12.674,12.88c0.229,-0.233 0.689,-1.081 -0.004,-1.758c-0.694,-0.676 -1.509,-0.23 -1.738,0.003c-2.262,2.3 -8.325,8.465 -10.586,10.765c-0.23,0.233 -0.65,1.099 0.005,1.759c0.656,0.66 1.507,0.229 1.737,-0.004c2.261,-2.3 8.324,-8.465 10.586,-10.765Z' /%3E%3C/svg%3E") center center no-repeat transparent;
}
.control.prev {
  width: 13px;
  height: 24px;
  left: 24px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='24' %3E%3Cpath id='top' fill='%23FFFFFF' d='M0.363,11.12c-0.229,0.233 -0.689,1.081 0.004,1.758c0.694,0.676 1.509,0.23 1.738,-0.003c2.262,-2.3 8.325,-8.465 10.586,-10.765c0.23,-0.233 0.65,-1.099 -0.005,-1.759c-0.656,-0.66 -1.507,-0.229 -1.737,0.004c-2.261,2.3 -8.324,8.465 -10.586,10.765Z' /%3E%3Cpath id='bottom' fill='%23FFFFFF' d='M0.363,12.88c-0.229,-0.233 -0.689,-1.081 0.004,-1.758c0.694,-0.676 1.509,-0.23 1.738,0.003c2.262,2.3 8.325,8.465 10.586,10.765c0.23,0.233 0.65,1.099 -0.005,1.759c-0.656,0.66 -1.507,0.229 -1.737,-0.004c-2.261,-2.3 -8.324,-8.465 -10.586,-10.765Z' /%3E%3C/svg%3E") center center no-repeat transparent;
}
.details {
  padding: 15px 22px;
  box-sizing: border-box;
  height: 129px;
}
.customer {
  overflow: hidden;
  width: 69px;
  height: 69px;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.property_details {
  margin-left: 19px;
  float: left;
}
h3 {
  margin: 13px 0 5px;
  letter-spacing: .099em;
}
.location, .count {
  color: #343434;
  font-size: .88em;
  font-weight: 300;
  margin-right: 5px;
  letter-spacing: 0.075em;
}
.stars_wrap {
  display: inline-block;
  width: 75px;
  height: 15px;
}
.stars {
  display: inline-block;
  width: 100%;
  text-indent: -9999px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' %3E%3Cpath id='top' fill='%23b2b2b2' d='M7.5,1.25l1.475,4.775l4.775,0l-3.863,2.95l1.476,4.775l-3.863,-2.951l-3.863,2.951l1.476,-4.775l-3.863,-2.95l4.775,0l1.475,-4.775Z' /%3E%3C/svg%3E") left center repeat-x transparent;
}
.price {
  float: right;
  margin-top: 12px;
  font-size: 1.6em;
  font-weight: 500;
  text-align: right;
}
.price .duration {
  display: block;
  font-size: .55em;
  font-weight: 300;
  letter-spacing: 0.09em;
}
.icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 13px;
  position: relative;
}
.icon .count {
  position: absolute;
  right: -14px;
  font-size: 1.3em;
  color: #676767;
}
.icons {
  clear: both;
  margin-top: 8px;
}
.icon.building {
  background: url('../images/icon_building.jpg')
}
.icon.sleeps {
  background: url('../images/icon_sleeps.jpg')
}
.icon.beds {
  background: url('../images/icon_beds.jpg')
}
.icon.baths {
  background: url('../images/icon_baths.jpg')
}
.property_card > footer {
  height: 50px;
  margin: 0 22px;
  box-sizing: border-box;
  border-top: 1px solid #D4D4D4;
}
.property_card > footer .icon {
  text-indent: -9999px;
  display: block;
  height: 30px;
  margin: 10px 3px;
}
footer .icon.favorite {
  cursor: pointer;
  float: left;
  width: 22px;
  position: relative;
  z-index: 4;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19' %3E%3Cpath id='favorite' fill='%23000000' d='M11.063,2.359c1.759,-3.047 6.942,-2.914 9.267,-0.9c2.325,2.014 2.153,4.839 -0.086,7.904c-2.026,2.773 -9.301,9.637 -9.301,9.637c0,0 -7.143,-6.965 -9.301,-9.637c-2.169,-2.686 -2.239,-5.89 0.086,-7.904c2.326,-2.014 7.546,-2.13 9.335,0.9Z' /%3E%3Cpath fill='%23FFFFFF' d='M11.028,4.381c1.062,-3.517 6.438,-4.164 8.705,-2.02c1.785,1.689 1.631,3.786 -0.303,6.434c-1.75,2.394 -8.479,8.91 -8.479,8.91c0,0 -6.579,-6.622 -8.442,-8.93c-1.874,-2.32 -2.021,-4.496 -0.167,-6.398c2.06,-2.112 7.691,-1.485 8.686,2.004Z' /%3E%3C/svg%3E") center center no-repeat transparent;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}
footer .icon.favorite.active {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19' %3E%3Cpath id='favorite' fill='%230E6FD8' d='M11.063,2.359c1.759,-3.047 6.942,-2.914 9.267,-0.9c2.325,2.014 2.153,4.839 -0.086,7.904c-2.026,2.773 -9.301,9.637 -9.301,9.637c0,0 -7.143,-6.965 -9.301,-9.637c-2.169,-2.686 -2.239,-5.89 0.086,-7.904c2.326,-2.014 7.546,-2.13 9.335,0.9Z' /%3E%3Cpath fill='%23FFFFFF' d='M11.028,4.381c1.062,-3.517 6.438,-4.164 8.705,-2.02c1.785,1.689 1.631,3.786 -0.303,6.434c-1.75,2.394 -8.479,8.91 -8.479,8.91c0,0 -6.579,-6.622 -8.442,-8.93c-1.874,-2.32 -2.021,-4.496 -0.167,-6.398c2.06,-2.112 7.691,-1.485 8.686,2.004Z' /%3E%3C/svg%3E") center center no-repeat transparent;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
footer .icon.favorite:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 22px;
  height: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19' %3E%3Cpath id='favorite_active' fill='%230E6FD8' d='M11.063,2.359c1.759,-3.047 6.942,-2.914 9.267,-0.9c2.325,2.014 2.153,4.839 -0.086,7.904c-2.026,2.773 -9.301,9.637 -9.301,9.637c0,0 -7.143,-6.965 -9.301,-9.637c-2.169,-2.686 -2.239,-5.89 0.086,-7.904c2.326,-2.014 7.546,-2.13 9.335,0.9Z' /%3E%3Cpath fill='%230C75DA' d='M11.028,4.381c1.062,-3.517 6.438,-4.164 8.705,-2.02c1.785,1.689 1.631,3.786 -0.303,6.434c-1.75,2.394 -8.479,8.91 -8.479,8.91c0,0 -6.579,-6.622 -8.442,-8.93c-1.874,-2.32 -2.021,-4.496 -0.167,-6.398c2.06,-2.112 7.691,-1.485 8.686,2.004Z' /%3E%3C/svg%3E") center bottom no-repeat transparent;
  height: 0;
  z-index: 3;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}
footer .icon.favorite.active:before {
  height: 19px;
}
footer .icon.next {
  float: left;
  width: 24px;
  margin-left: 10px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='16' %3E%3Cpath id='next_prop' fill='%23000000' d='M21.139,7.007l-5.774,-5.574l1.383,-1.433c0,0 6.024,5.815 7.091,6.846c0.103,0.099 0.161,0.236 0.161,0.379c0,0.384 -0.001,1.166 -0.001,1.55c0,0.142 -0.058,0.279 -0.16,0.378c-1.067,1.03 -7.091,6.847 -7.091,6.847l-1.383,-1.433l5.769,-5.569l-14.741,0c-2.464,0 -4.371,1.975 -4.371,4.402c0,0.568 -0.007,1.631 -0.007,1.631l-1.991,-0.007c0,0 -0.024,-1.068 -0.024,-1.624c0,-3.494 2.759,-6.34 6.294,-6.392l14.845,-0.001Z' /%3E%3C/svg%3E") center center no-repeat transparent;
}
footer .icon.more {
  float: right;
  width: 28px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='6' %3E%3Cellipse id='top' fill='%23d4d4d4' cx='2.984' cy='2.992' rx='2.984' ry='2.992' /%3E%3Cellipse fill='%23d4d4d4' cx='13.898' cy='2.992' rx='2.984' ry='2.992' /%3E%3Cellipse fill='%23d4d4d4' cx='25.016' cy='2.992' rx='2.984' ry='2.992' /%3E%3C/svg%3E") center center no-repeat transparent;
}

#favorites_box {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 116px;
  opacity: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
  /*background: url('../images/favorites_src.png') 0 0 white;*/
}
#favorites_box.active {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
  opacity: 1;
}

#favorites_box h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#favorites_box h3, #favorites_box ul, #favorites_box li, #favorites_box footer, .friend {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.friends {
  float: right;
  margin-top: -10px;
}
.friend {
  width: 39px;
  height: 39px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  float: right;
  margin-left: -5px;
}

.active .friend {
  margin-left: -20px;
}
#favorites_box footer {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.000, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.000, 1.235);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.000, 1.235);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.000, 1.235);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.000, 1.235);

  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.000, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.000, 1.235);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.000, 1.235);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.000, 1.235);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.000, 1.235);
}
#favorites_box.active h3 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#favorites_box.active h3, #favorites_box.active ul, #favorites_box.active footer {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
#favorites_box.active li {
  margin: 30px 0;
  position: relative;
}
#favorites_box ul, #favorites_box li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#favorites_box ul {
  margin-top: 57px;
  -ms-transform: translate(0, 70%);
  -webkit-transform: translate(0, 70%);
  transform: translate(0, 70%);
}
#favorites_box li {
  margin: 50px 0;
}
#favorites_box footer {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 104px 0;
  font-size: 1.2em;
  -ms-transform: translate(0, 10%);
  -webkit-transform: translate(0, 10%);
  transform: translate(0, 10%);
}
#favorites_box.active footer {
  padding: 34px 0;
}
.new_list {
  padding-left: 35px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' %3E%3Cpath fill='%23d4d4d4' d='M0,10.008l10.008,0l0,-10.008l1.984,0l0,10.008l10.008,0l0,1.984l-10.008,0l0,10.008l-1.984,0l0,-10.008l-10.008,0l0,-1.984Z' /%3E%3C/svg%3E") left center no-repeat transparent;
}
input[type=checkbox] {
  display: none !important;
}
input[type=checkbox] + label {
  height: 24px;
  cursor: pointer;
  display: inline-block;
  padding-left: 38px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
  position: relative;
}
input[type=checkbox] + label .checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #076cd8;
  position: absolute;
  left: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
input[type=checkbox]:checked + label .checkbox {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
input[type=checkbox]:checked + label:before {
  width: 16px;
}
label:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' %3E%3Cpath fill='%235c8614' d='M6.452,10.087l-5.029,-5.09l-1.423,1.406l5.029,5.089l1.423,-1.405l0,0Z' /%3E%3Cpath fill='%235c8614' d='M5.029,11.492l10.191,-10.069l-1.405,-1.423l-10.192,10.07l1.406,1.422Z' /%3E%3C/svg%3E") left center no-repeat transparent;
  content: "";
  width: 0;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 4px;
  -webkit-transition: all 0.30s;
  -moz-transition: all 0.30s;
  -o-transition: all 0.30s;
  transition: all 0.30s;
}
